<ion-header>
  <ion-toolbar>
    <ion-title>Arbeitszeitenerfassung</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-subtitle>Zeiten</ion-card-subtitle>
    <ion-card-content *ngFor="let zeit of zeiten; let i = index">
      <p>{{zeit.Tag}}</p>
      <p *ngIf="zeit.LogStatus == 0">Start: {{zeit.Zeit}}</p>
      <p *ngIf="zeit.LogStatus == 1">Ende: {{zeit.Zeit}}</p>
      <!-- <p *ngIf="zeit.">Start: {{zeit.Start}}</p> -->
      <!-- <p *ngIf="zeit.Ende">Ende: {{zeit.Ende}}</p> -->
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-button expand="full" color="success" *ngIf="!isCheckedIn" (click)="check()">Einchecken</ion-button>
  <ion-button expand="full" color="warning" *ngIf="isCheckedIn" (click)="pause()">Pause starten</ion-button>
  <!-- <ion-button expand="full" color="warning" *ngIf="isCheckedIn" (click)="pause()">Pause beenden</ion-button> -->
  <ion-button expand="full" color="danger" *ngIf="isCheckedIn" (click)="check()">Auschecken</ion-button>
</ion-footer>
